# The list of hosts separated by a space
 DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Database settings
DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=githance
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Django settings
DJANGO_SECRET_KEY=your_secret_key
DJANGO_DEBUG=True

DJANGO_GOOGLE_CLIENT_ID="1000575426539-46q4dr57cr4hq4v2s648rfqie23ddjs9.apps.googleusercontent.com"
DJANGO_GOOGLE_SECRET="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"
DJANGO_GOOGLE_KEY=""