[Unit]
Description=Docker check

[Service]
Type=oneshot
ExecStart=%h/bin/is_docker_up.sh
RemainAfterExit=true

[Install]
WantedBy=default.target